{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h3>{% trans "Sign In" %}</h3>
                </div>
                <div class="card-body">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                    
                    <hr>
                    
                    <div class="text-center">
                        <p>{% trans "Or sign in with:" %}</p>
                        <div class="d-grid gap-2">
                            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-danger">
                                <i class="fab fa-google"></i> Google
                            </a>
                            <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline-primary">
                                <i class="fab fa-facebook"></i> Facebook
                            </a>
                            <a href="{% provider_login_url 'yandex' %}" class="btn btn-outline-warning">
                                <i class="fab fa-yandex"></i> Яндекс
                            </a>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="text-center">
                        <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign Up</a>{% endblocktrans %}</p>
                        <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
